<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="viewBooksModel" type="com.simple.Bookstore.views.SharedModels.ViewBooksModel"*/-->

<th:block th:fragment="books(viewBooksModel)">
    <th:block th:if="${!viewBooksModel.books().hasContent()}">No results found...</th:block>
    <div class="book-item" th:each="book, i : ${viewBooksModel.books()}">
        <a th:href="@{/books/{id}(id=${book.id})}">
            <img th:alt="'search-result-item-image-' + ${book.id}"
                 th:src="${book.frontImage != null
                             ? book.frontImage
                             : 'https://placehold.co/100x140?text='
                                 + (#strings.isEmpty(book.title)
                                     ? 'Book ' + book.id
                                     : book.title + '\n' + book.author
             )}" />
        </a>
        <p class="book-title">
            <a th:href="@{/books/{id}(id=${book.id})}"
               th:text="${#strings.isEmpty(book.title) ? 'Book ' + book.id : book.title}"></a>
        </p>

        <th:block th:if="${!#strings.isEmpty(book.description)}">
            <strong class="book-details-label">Description:</strong>
            <p class="book-details-value" th:text="${book.description}"></p>
        </th:block>

        <th:block th:if="${book.averageRating != null}">
            <strong class="book-details-label">Rating:</strong>
            <b class="rating-score book-details-value">
                <span th:text="${T(com.simple.Bookstore.utils.DecimalFormatter).formatDecimal(book.averageRating)}"></span> / 5
            </b>
        </th:block>

        <th:block th:if="${book.genres != null && !book.genres.isEmpty()}">
            <strong class="book-details-label">Genre/s: </strong>
            <ul class="book-details-value" th:replace="~{fragments/components/genre-list :: genreList(${book.genres}, 5)}"></ul>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <form action="#" method="post"
                  th:action="@{/profile/saved-books}"
                  th:if="${!#lists.contains(viewBooksModel.currentUserSavedBookIds, book.id)}">
                <input name="bookId" th:value="${book.id}" type="hidden" />
                <button class="book-details-label" type="submit">Save</button>
            </form>
            <form action="#" method="post"
                  th:action="@{/profile/saved-books}"
                  th:if="${#lists.contains(viewBooksModel.currentUserSavedBookIds, book.id)}">
                <input name="_method" type="hidden" value="delete" />
                <input name="bookId" th:value="${book.id}" type="hidden" />
                <button class="book-details-label" type="submit">Unsave</button>
            </form>
        </th:block>
    </div>
    <script th:src="@{/js/genre-expand.js}"></script>
</th:block>

</body>
</html>
