<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <script src="http://localhost:35729/livereload.js"></script>
    <link href="/css/variables.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/shared/genres.css" rel="stylesheet">
    <link href="/css/shared/main-content.css" rel="stylesheet">
    <!-- START PAGE SPECIFIC CSS -->
    <link href="/css/theme.css" rel="stylesheet">
    <!-- END PAGE SPECIFIC CSS -->
    <th:block th:if="${_overrideTheme != null}"
              th:utext="${_overrideTheme}">
    </th:block>
</head>
<body>
<!--/*@thymesVar id="user" type="com.simple.Bookstore.User.User"*/-->
<!--/*@thymesVar id="logoLetters" type="java.util.List<com.simple.Bookstore.utils.presentation.SiteLogoLetter>"*/-->
<!--/*@thymesVar id="_overrideThemeUsed" type="com.simple.Bookstore.Theme.ThemeResponseDTO"*/-->

<!--/*@thymesVar id="theme" type="com.simple.Bookstore.Theme.ThemeResponseDTO"*/-->
<!--/*@thymesVar id="previewThemeStyle" type="java.lang.String"*/-->
<div id="theme-preview-render" th:fragment="previewTheme(theme, usedTheme, previewThemeStyle)">
    <th:block th:if="${previewThemeStyle != null}" th:utext="${previewThemeStyle}"></th:block>
    <div th:replace="~{fragments/header.html :: header}"></div>
    <div id="main-layout">
        <div th:replace="~{fragments/components/theme-preview :: _sidebarLeft}"></div>
        <div class="flex-column gap-10px" id="main-content-preview">
            <div th:replace="~{fragments/svg-fragments/heading-followed-by-circles :: svgHeading(HEADING, 1, 18, 4.5)}"></div>
            <div th:replace="~{fragments/components/theme-preview :: _bookEntry}"></div>
            <div id="blur-strikethrough" th:insert="~{fragments/svg-fragments/heading-strikethrough-behind ::
                svgHeading('Heading', 422, 24, 164)}">
            </div>
            <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading(Heading, 1, 33)}"></div>
            <div th:replace="~{fragments/components/theme-preview :: _bookSearchEntry}"></div>
            <script th:src="@{/js/genre-expand.js}"></script>
        </div>
        <div th:replace="~{fragments/components/theme-preview :: _sidebarRight(${theme}, ${usedTheme})}"></div>
    </div>
</div>

<div id="sidebar-left" th:fragment="_sidebarLeft">
    <div class="sidebar-left-div">
        <p class="sidebar-left-title">List</p>
        <div class="sidebar-left-list" id="authors-list-preview">
            <th:block th:each="i : ${#numbers.sequence(1, 10)}">
                <a class="sidebar-left-list-item"
                   href="#"
                   th:classappend="${i >= 5 ? 'more-item' : ''}"
                   th:text="'Item ' + ${i}"></a>
            </th:block>
            <div class="text-end">
                <a class="sidebar-left-list-item show-more-link cursor-pointer italic"
                   href="javascript:toggleVisibility('authors-list-preview', 'show-more-link', 'show-less-link')">
                    More...
                </a>
                <a class="sidebar-left-list-item show-less-link cursor-pointer italic"
                   href="javascript:toggleVisibility('authors-list-preview', 'show-more-link', 'show-less-link')"
                   style="display: none">
                    Less...
                </a>
            </div>
        </div>
    </div>

    <div class="sidebar-left-div">
        <p class="sidebar-left-title">Fake Review</p>
        <div class="sidebar-left-list">
            <a class="sidebar-left-list-item" href="#">Book Title</a>
            <svg th:replace="~{fragments/svg-fragments/rating-star ::
                ratingStar(5, 106, 16, 5)}"></svg>
            <p class="margin-0" title="Today">Today</p>
            <div class="sidebar-left-list-item">
                <p>Lorem ipsum or sum...</p>
            </div>
            <div class="text-end">
                <p>- <a href="#">some user</a></p>
            </div>
        </div>
    </div>
</div>

<!--/*@thymesVar id="theme" type="com.simple.Bookstore.Theme.ThemeResponseDTO"*/-->
<div id="sidebar-right" th:fragment="_sidebarRight(theme, usedTheme)"
     th:insert="~{fragments/sidebar-right.html :: _sidebarRightUsedTheme(${theme}, ${usedTheme})}">
</div>

<div class="enclosed-content-preview" th:fragment="_bookEntry">
    <div class="flex-row gap-10px">
        <a href="#">
            <img alt="preview-book-image"
                 src="https://placehold.co/100x140?text=Book Title\nBook Author" />
        </a>
        <div class="flex-column gap-10px w-100P"
             th:with="genreSet=${T(java.util.Set).of(
                        T(com.simple.Bookstore.Genre.Genre).SPACE_OPERA,
                        T(com.simple.Bookstore.Genre.Genre).HOWDUNNITS,
                        T(com.simple.Bookstore.Genre.Genre).EROTIC_ROMANCE
                    )}">
            <a href="#">Book Title</a>
            <b class="rating-score">4.25 / 5</b>
            <ul th:replace="~{fragments/components/genre-list :: genreList(${genreSet}, 5)}"></ul>
        </div>
    </div>
</div>

<div class="enclosed-search-content-preview" th:fragment="_bookSearchEntry">
    <div class="search-content-preview flex-row">
        <a href="#">
            <img alt="preview-book-image"
                 src="https://placehold.co/100x140?text=Book Title\nBook Author" />
        </a>
        <div class="flex-column gap-10px w-100P"
             th:with="genreSet=${T(java.util.Set).of(
                        T(com.simple.Bookstore.Genre.Genre).APOCALYPTIC_SCI_FI,
                        T(com.simple.Bookstore.Genre.Genre).PARANORMAL_ROMANCE,
                        T(com.simple.Bookstore.Genre.Genre).BODY_HORROR,
                        T(com.simple.Bookstore.Genre.Genre).SATIRE,
                        T(com.simple.Bookstore.Genre.Genre).RELIGION_SPIRITUALITY,
                        T(com.simple.Bookstore.Genre.Genre).TRUE_CRIME,
                        T(com.simple.Bookstore.Genre.Genre).LOCKED_ROOM_MYSTERY
                    )}">
            <a class="book-search-entry-title" href="#">Book Title</a>
            <b class="rating-score">4.25 / 5</b>
            <ul th:replace="~{fragments/components/genre-list :: genreList(${genreSet}, 3)}"></ul>
        </div>
    </div>
</div>

</body>
</html>
