<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="viewThemesAsPageModel" type="com.simple.Bookstore.views.SharedModels.ViewThemesAsPageModel"*/-->
<th:block th:fragment="themesPage(viewThemesAsPageModel)">
    <th:block th:if="${!viewThemesAsPageModel.themes().hasContent()}">No results found...</th:block>
    <div th:replace="~{fragments/components/themes-section.html
        :: _themeList(
            ${viewThemesAsPageModel.themes},
            ${viewThemesAsPageModel.currentUserTheme},
            ${viewThemesAsPageModel.currentUserSavedThemeIds}
        )}"></div>
</th:block>

<!--/*@thymesVar id="themes" type="java.util.List<Theme>"*/-->
<!--/*@thymesVar id="currentUserTheme" type="com.simple.Bookstore.Theme.ThemeResponseDTO"*/-->
<!--/*@thymesVar id="currentUserSavedThemeIds" type="java.util.List<java.lang.Long>"*/-->
<div class="theme-item" th:each="theme, i : ${themes}"
     th:fragment="_themeList(themes, currentUserTheme, currentUserSavedThemeIds)">
    <ul th:replace="~{fragments/components/themes-section.html :: _themePreview(${theme})}"></ul>
    <p class="theme-title">
        <a th:href="@{/themes/{id}(id=${theme.id})}"
           th:text="${#strings.isEmpty(theme.name) ? 'Theme ' + theme.id : theme.name}"></a>
    </p>
    <th:block th:if="${!#strings.isEmpty(theme.description)}">
        <strong class="theme-details-label">Description: </strong>
        <p class="theme-details-value" th:text="${theme.description}"></p>
    </th:block>
    <th:block th:replace="~{fragments/components/themes-section.html
        :: _themeApplyAndSaveButtons(
            ${theme},
            ${currentUserTheme},
            ${currentUserSavedThemeIds},
            'theme-details-label',
            'theme-details-value'
        )}">
    </th:block>
</div>

<!--/*@thymesVar id="theme" type="com.simple.Bookstore.Theme.Theme"*/-->
<!--/*@thymesVar id="ulClass" type="java.lang.String"*/-->
<ul th:fragment="_themePreview(theme)">
    <li th:style="'background-color: #' + ${theme.base00} " th:title="'#' + ${theme.base00}"></li>
    <li th:style="'background-color: #' + ${theme.base01} " th:title="'#' + ${theme.base01}"></li>
    <li th:style="'background-color: #' + ${theme.base02} " th:title="'#' + ${theme.base02}"></li>
    <li th:style="'background-color: #' + ${theme.base03} " th:title="'#' + ${theme.base03}"></li>
    <li th:style="'background-color: #' + ${theme.base04} " th:title="'#' + ${theme.base04}"></li>
    <li th:style="'background-color: #' + ${theme.base05} " th:title="'#' + ${theme.base05}"></li>
    <li th:style="'background-color: #' + ${theme.base06} " th:title="'#' + ${theme.base06}"></li>
    <li th:style="'background-color: #' + ${theme.base07} " th:title="'#' + ${theme.base07}"></li>
</ul>

<!--/*@thymesVar id="theme" type="com.simple.Bookstore.Theme.Theme"*/-->
<!--/*@thymesVar id="currentUserTheme" type="com.simple.Bookstore.Theme.ThemeResponseDTO"*/-->
<!--/*@thymesVar id="currentUserSavedThemeIds" type="java.util.List<java.lang.Long>"*/-->
<th:block sec:authorize="isAuthenticated()"
          th:fragment="_themeApplyAndSaveButtons(
              theme,
              currentUserTheme,
              currentUserSavedThemeIds,
              applyClass,
              saveClass)">
    <form action="#" method="post" th:action="@{/profile/theme}" th:class="${applyClass != null ? applyClass : ''}">
        <input name="themeId" th:value="${theme.id}" type="hidden" />
        <button th:if="${currentUserTheme == null}" type="submit">Apply</button>
        <th:block th:if="${currentUserTheme != null}">
            <i th:if="${currentUserTheme.id == theme.id}">In Use</i>
            <button th:if="${currentUserTheme.id != theme.id}" type="submit">Apply</button>
        </th:block>
    </form>
    <form action="#" method="post" th:action="@{/profile/saved-themes}"
          th:class="${saveClass != null ? saveClass : ''}"
          th:if="${currentUserSavedThemeIds == null
              || !#lists.contains(currentUserSavedThemeIds, theme.id)}">
        <input name="themeId" th:value="${theme.id}" type="hidden" />
        <button type="submit">Save</button>
    </form>
    <form action="#" method="post" th:action="@{/profile/saved-themes}"
          th:class="${saveClass != null ? saveClass : ''}"
          th:if="${currentUserSavedThemeIds != null
              && #lists.contains(currentUserSavedThemeIds, theme.id)}">
        <input name="_method" type="hidden" value="delete" />
        <input name="themeId" th:value="${theme.id}" type="hidden" />
        <button type="submit">Unsave</button>
    </form>
</th:block>

</body>
</html>
