.genres-ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    /*max-width: 200px;*/
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.genre-oval {
    display: flex;
    height: 40px;
    width: 65px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.70rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    text-decoration: none;
}

.genre-color-style-00 {
    background-color: var(--color-05, #AAFFB1);
    color: var(--genre-text-color-00, #334321);
    text-shadow: -0.05rem -0.05rem 0 var(--genre-outline-color-00, #FFF2D3),
    0.05rem -0.05rem 0 var(--genre-outline-color-00, #FFF2D3),
    -0.05rem 0.05rem 0 var(--genre-outline-color-00, #FFF2D3),
    0.05rem 0.05rem 0 var(--genre-outline-color-00, #FFF2D3), /* inner border */ -0.07rem -0.07rem 0 var(--genre-text-color-00, #334321),
    0.07rem -0.07rem 0 var(--genre-text-color-00, #334321),
    -0.07rem 0.07rem 0 var(--genre-text-color-00, #334321),
    0.07rem 0.07rem 0 var(--genre-text-color-00, #334321); /* outer border */
}

.genre-color-style-01 {
    background-color: var(--color-04, #FFD376);
    color: var(--genre-text-color-01, #356618);
    text-shadow: -0.05rem -0.05rem 0 var(--genre-outline-color-01, #FFF2D3),
    0.05rem -0.05rem 0 var(--genre-outline-color-01, #FFF2D3),
    -0.05rem 0.05rem 0 var(--genre-outline-color-01, #FFF2D3),
    0.05rem 0.05rem 0 var(--genre-outline-color-01, #FFF2D3), /* inner border */ -0.07rem -0.07rem 0 var(--genre-text-color-01, #356618),
    0.07rem -0.07rem 0 var(--genre-text-color-01, #356618),
    -0.07rem 0.07rem 0 var(--genre-text-color-01, #356618),
    0.07rem 0.07rem 0 var(--genre-text-color-01, #356618); /* outer border */
}

.genre-color-style-02 {
    background-color: var(--color-03, #F88B9E);
    color: var(--genre-text-color-02, #237C24);
    text-shadow: -0.05rem -0.05rem 0 var(--genre-outline-color-02, #FFF2D3),
    0.05rem -0.05rem 0 var(--genre-outline-color-02, #FFF2D3),
    -0.05rem 0.05rem 0 var(--genre-outline-color-02, #FFF2D3),
    0.05rem 0.05rem 0 var(--genre-outline-color-02, #FFF2D3), /* inner border */ -0.07rem -0.07rem 0 var(--genre-text-color-02, #237C24),
    0.07rem -0.07rem 0 var(--genre-text-color-02, #237C24),
    -0.07rem 0.07rem 0 var(--genre-text-color-02, #237C24),
    0.07rem 0.07rem 0 var(--genre-text-color-02, #237C24); /* outer border */
}

.hidden-genre {
    display: none !important;
}
