#main-content {
    max-width: 700px;
    min-width: 700px;
    border: 2px solid var(--color-00, #A40E60);
    background-color: var(--color-07, #FFF2D3);
}

#main-content .svg-text-heading .text-outline-outer {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-02, #F61590);
    stroke-linejoin: round;
    stroke-width: 8;
}

#main-content .svg-text-heading .text-outline-inner {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-07, #FFF2D3);
    stroke-linejoin: round;
    stroke-width: 4;
}

#main-content .svg-text-heading .text-fill {
    fill: var(--color-02, #F61590);
}

.rating-score text {
    fill: var(--color-04, #FFD376);
    paint-order: stroke;
    stroke: var(--font-color, black);
    stroke-width: 2;
}

/* DESCRIPTIVE */

.col-span-2 {
    grid-column-end: span 2;
}

.gap-10px {
    gap: 10px;
}

.w-100P {
    width: 100%;
}

.pad-0-15px {
    padding: 0 15px;
}
