#main-content {
    max-width: 700px;
    min-width: 700px;
    border: 2px solid var(--color-00, #A40E60);
    background-color: var(--color-07, #FFF2D3);
}

.svg-text-heading .text-outline-outer {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-02, #F61590);
    stroke-linejoin: round;
    stroke-width: 8;
}

.svg-text-heading .text-outline-inner {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-07, #FFF2D3);
    stroke-linejoin: round;
    stroke-width: 4;
}

.svg-text-heading .text-fill {
    fill: var(--color-02, #F61590);
}

.rating-score {
    color: var(--color-01, #FF0000);
}

.rating-star text {
    fill: var(--color-04, #FFD376);
    paint-order: stroke;
    stroke: var(--font-color, black);
    stroke-width: 2;
}

/* DESCRIPTIVE */

.col-span-2 {
    grid-column-end: span 2;
}

.gap-10px {
    gap: 10px;
}

.w-100P {
    width: 100%;
}

.pad-0-15px {
    padding: 0 15px;
}

.margin-0-15px {
    margin: 0 15px;
}

.margin-15px-15px-0-15px {
    margin: 15px 15px 0 15px;
}

.justify-content-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.margin-10px {
    margin: 10px;
}