<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="svg-text-heading-div"
     style="z-index: 9999; display: inline-block; line-height: 1;"
     th:fragment="svgHeading(text, circleCx, circleCy, circleRadius)">
    <svg class="svg-text-heading" preserveAspectRatio="xMinYMid meet"
         style="overflow:visible; height:1em;"
         viewBox="0 0 1 35"
         xmlns="http://www.w3.org/2000/svg">
        <!-- circle with gradient colors-->
        <circle th:cx="${circleCx + i * 18}"
                th:cy="${circleCy}"
                th:each="i : ${#numbers.sequence(0, 24)}"
                th:r="${circleRadius}"
                th:style="'fill: var(' + ${varName} + ', ' + ${fallbackColor} + ');'"
                th:with="varName='--interpolated-color-' + (${i} < 10 ? '0' : '') + ${i},
                         fallbackColor='#' + 'f88d9c'" />
        <!-- outer outline -->
        <text class="text-outline-outer"
              th:text="${text}"
              x="0"
              y="0">
        </text>
        <!-- inner outline -->
        <text class="text-outline-inner"
              th:text="${text}"
              x="0"
              y="0">
        </text>
        <!-- fill -->
        <text class="text-fill"
              th:text="${text}"
              x="0"
              y="0">
        </text>
    </svg>
</div>
</body>
</html>
