<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="user" type="com.simple.Bookstore.User.User"*/-->
<!--/*@thymesVar id="viewModel" type="com.simple.Bookstore.views.Review.ReviewViewModel"*/-->
<!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
<!--/*@thymesVar id="commentRequestDTO" type="com.simple.Bookstore.Comment.CommentRequestDTO"*/-->


<div id="main-content" th:fragment="main-content">
    <div class="flex-column gap-10px margin-10px">
        <div class="flex-row space-between">
            <a th:href="@{/books/{bookId}(bookId=${viewModel.review.bookId})}"> < Back</a>
            <div th:replace="~{fragments/components/flash-error :: flashError(${errorMessage})}"></div>
        </div>
        <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading('Review Thread', 280, 33)}"></div>
        <div class="flex-row gap-10px">
            <a th:href="@{/books/{bookId}(bookId=${viewModel.bookId})}">
                <img id="book-image-thumb"
                     th:alt="'book-image-' + ${viewModel.bookId}"
                     th:src="${viewModel.review.bookFrontImage != null ?
                 viewModel.review.bookFrontImage : 'https://placehold.co/227x317?text=' +
                     (#strings.isEmpty(viewModel.review.bookTitle) ?
                         'Book ' + viewModel.bookId : viewModel.review.bookTitle + '\n' + viewModel.review.bookAuthor + '\n(Front Cover)'
                 )}"
                />
            </a>
            <div class="w-100P flex-column">
                <div class="flex-row space-between gap-10px">
                    <strong th:text="${viewModel.review.title}"></strong>
                    <p class="margin-0" th:title="${#temporals.format(viewModel.review.date, 'dd MMMM yyyy HH:mm')}">
                        Posted
                        <span th:text="${T(com.simple.Bookstore.utils.PostedDateFormatter)
                                     .formatTimeAgo(viewModel.review.date, viewModel.review.edited)}"></span>
                    </p>
                </div>

                <div class="grid-tcol-1fr-4fr pad-0-15px">
                    <svg th:replace="~{fragments/svg-fragments/rating-star ::
                                ratingStar(${viewModel.review.rating}, 105, 16, 5)}"></svg>
                    <a class="justify-self-start"
                       th:href="@{/profile/{username}(username=${viewModel.review.username})}"
                       th:text="${viewModel.review.userDisplayName}"></a>
                    <p class="margin-0 col-span-2 text-justify" th:text="${viewModel.review.content}"></p>
                </div>
            </div>
        </div>

        <div class="flex-column" id="review-comments-div">
            <div class="flex-row space-between">
                <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading('Comments', 1, 33)}"></div>
                <div th:replace="~{fragments/components/pagination :: pagination(${viewModel.comments}, '/books/' + ${viewModel.bookId} + '/reviews/' + ${viewModel.review.id}, null)}"></div>
            </div>
            <div class="flex-column gap-10px" id="review-comments">
                <th:block th:each="comment, i : ${viewModel.comments}"
                          th:if="${viewModel.comments.hasContent()}"
                          th:insert="~{fragments/components/comment :: comment(${comment})}">
                </th:block>
                <p class="margin-0" th:if="${!viewModel.comments.hasContent()}">
                    No comments found...
                </p>
            </div>
            <div th:replace="~{fragments/components/pagination :: pagination(${viewModel.comments}, '/books/' + ${viewModel.bookId} + '/reviews/' + ${viewModel.review.id}, null)}"></div>
        </div>

        <div class="flex-column" id="create-comment-div" sec:authorize="isAuthenticated()">
            <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading('Write a Comment', 1, 33)}"></div>
            <div class="flex-column gap-10px" id="create-comment">
                <form class="profile-details" method="post" th:action="@{/books/{bookId}/reviews/{reviewId}/comments(bookId=${viewModel.bookId}, reviewId=${viewModel.review.id})}"
                      th:object="${commentRequestDTO}">
                    <label th:for="${#ids.next('content')}" title="required">Comment<span class="required">*</span>:</label>
                    <textarea maxlength="2000" minlength="1"
                              required th:field="*{content}"
                              title="Maximum of 2000 characters"
                              type="text">
                    </textarea>
                    <span class="profile-details-error" th:errors="*{content}" th:if="${#fields.hasErrors('content')}"></span>

                    <button class="col-span-2 justify-self-center" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
