<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="user" type="com.simple.Bookstore.User.User"*/-->
<!--/*@thymesVar id="book" type="com.simple.Bookstore.Book.BookSearchResultDTO"*/-->
<!--/*@thymesVar id="reviews" type="org.springframework.data.domain.Page<com.simple.Bookstore.Review.ReviewResponseDTO>"*/-->
<!--/*@thymesVar id="savedBookIds" type="java.util.List<java.lang.Long>"*/-->


<div id="main-content" th:fragment="main-content">
    <div class="flex-column gap-10px" id="book">
        <div th:replace="~{fragments/svg-fragments/heading-followed-by-circles :: svgHeading('Title Information', 280, 20, 6)}"></div>
        <div class="flex-row gap-10px">
            <div class="flex-column gap-10px">
                <img id="book-image" onclick="toggleCover(this)"
                     th:alt="'book-image-' + ${book.id}"
                     th:data-author="${book.author}"
                     th:data-back-image="${book.backImage}"
                     th:data-current-cover="'front'"
                     th:data-front-image="${book.frontImage}"
                     th:data-id="${book.id}"
                     th:data-title="${book.title}"
                     th:src="${book.frontImage != null ?
                     book.frontImage : 'https://placehold.co/227x317?text=' +
                         (#strings.isEmpty(book.title) ?
                             'Book ' + book.id : book.title + '\n' + book.author + '\n(Front Cover)'
                     )}"
                />
                <script th:src="@{/js/flip-cover.js}"></script>
                <a href="#book-description" id="description-button">Description</a>
            </div>
            <div class="flex-column w-100P gap-10px">
                <div class="flex-column gap-10px" id="book-details">
                    <p class="col-span-2 margin-0" id="book-title" th:text="${book.title}"></p>
                    <div class="grid-tcol-1fr-4fr pad-0-15px">
                        <strong>Author:</strong>
                        <p class="margin-0" th:text="${book.author}"></p>

                        <th:block th:if="${book.averageRating}">
                            <strong>Reviews:</strong>
                            <div class="grid-tcol-1fr-4fr grid-gap-10px" id="book-details-review">
                                <svg th:replace="~{fragments/svg-fragments/rating-star ::
                                    ratingStar(${book.averageRating}, 66, 12, 5)}"></svg>
                                <div class="flex-row gap-10px">
                                    <p class="margin-0" th:text="${book.averageRating} + ' out of 5'"></p>
                                    <p class="margin-0" th:if="${book.averageRating}">
                                        (<a class="margin-0" href="#book-reviews-div" th:text="${reviews.getNumberOfElements()} + ' reviews'"></a>)
                                    </p>
                                </div>
                            </div>
                        </th:block>

                        <strong>Uploaded:</strong>
                        <p class="margin-0" th:text="${#temporals.format(book.date, 'dd MMMM yyyy')}"></p>

                        <strong>Genres:</strong>
                        <ul th:replace="~{fragments/components/genre-list :: genreList(${book.genres}, 3)}"></ul>
                        <script th:src="@{/js/genre-expand.js}"></script>
                    </div>
                </div>
                <th:block sec:authorize="isAuthenticated()">
                    <form action="#" id="save-book" method="post"
                          th:action="@{/profile/saved-books}"
                          th:if="${!#lists.contains(savedBookIds, book.id)}">
                        <input name="bookId" th:value="${book.id}" type="hidden" />
                        <button th:insert="~{fragments/svg-fragments/heading-plain :: svgHeading('SAVE BOOK', 102, 18)}"
                                type="submit">
                        </button>
                    </form>
                    <form action="#" id="save-book" method="post"
                          th:action="@{/profile/saved-books}"
                          th:if="${#lists.contains(savedBookIds, book.id)}">
                        <input name="_method" type="hidden" value="delete" />
                        <input name="bookId" th:value="${book.id}" type="hidden" />
                        <button th:insert="~{fragments/svg-fragments/heading-plain :: svgHeading('UNSAVE BOOK', 128, 18)}"
                                type="submit">
                        </button>
                    </form>
                </th:block>
            </div>
        </div>
        <div class="flex-row" th:if="${!#arrays.isEmpty(book.contentImages)}">
            <img th:alt="'preview-' + ${i.index}"
                 th:each="content, i : ${book.contentImages}" th:src="${content}" />
        </div>
        <div class="flex-row flex-wrap gap-10px justify-content-center" th:if="${#arrays.isEmpty(book.contentImages)}">
            <img class="book-content-images" onclick="toggleCover(this)" th:alt="'book-image-' + ${book.id}"
                 th:each="i : ${#numbers.sequence(1, 10)}"
                 th:src="${book.frontImage != null ?
                         book.frontImage : 'https://placehold.co/124x93?text=' +
                             (#strings.isEmpty(book.title)
                                 ? 'Book ' + book.id + ': Content ' + i
                                 : book.title + '\n' + book.author + '\n(Content ' + i + ')'
                         )}"
            />
        </div>
        <div class="flex-column" id="book-description">
            <div th:replace="~{fragments/svg-fragments/heading-strikethrough-behind ::
                    svgHeading('Description', 620, 24, 244)}"></div>
            <p class="text-justify" th:text="${book.description}"></p>
        </div>

        <div class="flex-column" id="book-reviews-div" th:if="${reviews.hasContent()}">
            <div class="flex-row space-between">
                <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading('Reviews', 1, 33)}"></div>
                <div th:replace="~{fragments/pagination :: pagination(${reviews}, '/books/' + ${book.id}, null)}"></div>
            </div>
            <div class="flex-column gap-10px" id="book-reviews">
                <div class="flex-row w-100P" th:each="review, i : ${reviews}" th:id="'review-' + ${review.id}">
                    <div class="w-100P flex-column">
                        <div class="flex-row space-between gap-10px">
                            <strong th:text="${review.title}"></strong>
                            <p class="margin-0" th:title="${#temporals.format(review.date, 'dd MMMM yyyy HH:mm')}">
                                Posted
                                <span th:text="${T(com.simple.Bookstore.utils.PostedDateFormatter)
                                     .formatTimeAgo(review.date, review.edited)}"></span>
                            </p>
                        </div>

                        <div class="grid-tcol-1fr-4fr pad-0-15px">
                            <svg th:replace="~{fragments/svg-fragments/rating-star ::
                                ratingStar(${review.rating}, 105, 16, 5)}"></svg>
                            <a class="justify-self-start"
                               th:href="@{/profile/{username}(username=${review.username})}"
                               th:text="${review.userDisplayName}"></a>
                            <p class="margin-0 col-span-2 text-justify" th:text="${review.content}"></p>
                            <details class="col-span-2" th:if="${review.commentCount > 0}">
                                <summary class="cursor-pointer link-style">Comments</summary>
                                <div class="flex-column col-span-2 gap-5px">
                                    <div class="grid-tcol-1fr-4fr pad-0-15px"
                                         th:each="comment, i : ${review.comments}">
                                        <a class="margin-0 justify-self-start"
                                           th:href="@{/profile/{username}(username=${comment.username})}"
                                           th:text="${comment.userDisplayName}"></a>
                                        <p class="margin-0 justify-self-start"
                                           th:text="${T(com.simple.Bookstore.utils.PostedDateFormatter)
                                             .formatTimeAgo(comment.date, comment.edited)}"
                                           th:title="${#temporals.format(comment.date, 'dd MMMM yyyy HH:mm')}"></p>
                                        <p class="margin-0 col-span-2" th:text="${comment.content}"></p>
                                    </div>
                                </div>
                                <a class="flex-row col-span-2 align-items-end" th:href="@{/book/{bookId}/reviews/{reviewId}(bookId=${book.id}, reviewId=${review.id})}"
                                   th:if="${review.commentCount > 2}"
                                   th:text="${'See all comments (' + review.commentCount + ')'}">
                                </a>
                            </details>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/pagination :: pagination(${reviews}, '/books/' + ${book.id}, null)}"></div>
        </div>
    </div>
</div>

</body>
</html>
