<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: header</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<header th:fragment="header">
    <div id="header">
        <div th:replace="~{fragments/svg-halftone :: halftoneSvg(-5, 8, 65, 10, 'var(--color-02)', '1030px', '160px')}"></div>
        <div id="header-left-div">
            <div id="header-slogan">
                <div th:replace="~{fragments/svg-heading-plain :: svgHeading('Books I have at home :D', 179, 16)}"></div>
            </div>
            <div id="header-logo-div">
                <a href="/">
                    <div style="z-index: 9999; display: inline-block">
                        <svg class="svg-text-heading" preserveAspectRatio="xMinYMid meet"
                             style="overflow:visible; height:1em;"
                             viewBox="0 0 340 60"
                             xmlns="http://www.w3.org/2000/svg">
                            <th:block th:each="letter : ${logoLetters}">
                                <g
                                        th:attr="transform=${letter.rotate != 0}
                                    ? 'rotate(' + ${letter.rotate} + ',' + (${letter.x + 35}) + ',35)'
                                    : null">
                                    <ellipse
                                            class="letter-oval"
                                            rx="24" ry="28"
                                            th:attr="cx=${letter.x + 18}, cy=${letter.y + 35}" />
                                </g>
                            </th:block>
                            <th:block th:each="letter, i : ${logoLetters}">
                                <g
                                        th:attr="transform=${letter.rotate != 0}
                                    ? 'rotate(' + ${letter.rotate} + ',' + ${letter.x + 35} + ',35)'
                                    : null">
                                    <!-- text outline -->
                                    <text class="logo-letter-outline"
                                          th:attr="x=${letter.x}, y=${letter.y}"
                                          th:text="${letter.char}"/>
                                    <!-- text fill -->
                                    <text th:attr="x=${letter.x}, y=${letter.y}"
                                          th:id="${letter.id}"
                                          th:text="${letter.char}" />
                                </g>
                            </th:block>
                        </svg>
                    </div>
                </a>
            </div>
            <div id="header-logo-link-div">
                <a href="https://github.com/am-cid/bookstore" id="header-logo-link" target="_blank">
                    <div th:replace="~{fragments/svg-heading-strikethrough-behind ::
                    svgHeading('github.com/am-cid/bookstore', 340, 21)}"></div>
                </a>
            </div>
            <ul id="header-navbar">
                <li><a th:href="@{/books/search}">
                    <div th:replace="~{fragments/svg-heading-plain :: svgHeading('BOOKS', 54, 16)}"></div>
                </a></li>
                <li><a th:href="@{/themes/search}">
                    <div th:replace="~{fragments/svg-heading-plain :: svgHeading('THEMES', 66, 16)}"></div>
                </a></li>
                <li><a th:href="@{/profile/search}">
                    <div th:replace="~{fragments/svg-heading-plain :: svgHeading('COMMUNITY', 103, 16)}"></div>
                </a></li>
            </ul>
        </div>
        <div id="header-right-div">
            <div id="header-top-right-div">
                <a class="header-top-right-button" href="/support" id="header-support">
                    SUPPORT
                </a>
                <a class="header-top-right-button" href="/" id="header-about-us">
                    ABOUT US
                </a>
            </div>
            <div id="header-bottom-right-div">
                <form action="/books/search" method="get">
                    <select name="goods_type">
                        <option selected="" value="0">Books</option>
                        <option value="1">Themes</option>
                        <option value="3">Profiles</option>
                    </select>
                    <input id="search-input" name="query" type="text">
                    <button id="search-button" type="submit">
                        <th:block th:replace="~{/fragments/svg-heading-plain :: svgHeading('SEARCH', 52, 13)}"></th:block>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>

</body>
</html>