<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="flex-column w-700px gap-10px" th:fragment="main-content">
    <!-- SLIDING BANNER -->
    <div th:replace="~{fragments/sliding-banner :: sliding-banner}"></div>
    <div id="main-content">
        <!-- LATEST UPLOADS -->
        <div th:replace="~{fragments/two-column-book-list :: twoColBookList(${latestUploads}, 'LATEST UPLOADS')}"></div>
        <!-- AVAILABLE BOOKS -->
        <div th:replace="~{fragments/two-column-book-list :: twoColBookList(${availableBooks}, 'AVAILABLE BOOKS')}"></div>
        <script th:src="@{/js/genre-expand.js}"></script>
    </div>
</div>

</body>
</html>