<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="user" type="com.simple.Bookstore.User.User"*/-->
<!--/*@thymesVar id="pathUsername" type="java.lang.String"*/-->
<!--/*@thymesVar id="accountHeader" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewModel" type="com.simple.Bookstore.views.Profile.ProfileViewModel"*/-->
<!--/*@thymesVar id="viewSavedBooksModel" type="com.simple.Bookstore.views.Profile.ProfileViewSavedBooksModel"*/-->
<!--/*@thymesVar id="viewSavedThemesModel" type="com.simple.Bookstore.views.SharedModels.ViewThemesAsPageModel"*/-->

<div id="main-content" th:fragment="saved-themes">
    <div id="profile-div">
        <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading(${accountHeader}, 1, 33)}"></div>
        <div class="flex-column" id="profile">
            <div th:replace="~{fragments/profile/account-details :: details-saved-themes}"></div>
            <div class="saved-section">
                <h2>Saved Themes</h2>
                <nav th:replace="~{fragments/components/pagination :: pagination(${viewSavedThemesModel.themes}, '/profile/' + ${pathUsername} + '/saved-themes', null)}"></nav>
                <div th:replace="~{fragments/components/themes-section :: themes(${viewSavedThemesModel})}"></div>
            </div>
        </div>
    </div>
</div>

<div id="main-content" th:fragment="saved-books">
    <div id="profile-div">
        <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading(${accountHeader}, 1, 33)}"></div>
        <div class="flex-column" id="profile">
            <div th:replace="~{fragments/profile/account-details :: details-saved-books}"></div>
            <div class="saved-section">
                <h2>Saved Books</h2>
                <nav th:replace="~{fragments/components/pagination :: pagination(${viewSavedBooksModel.books}, '/profile/' + ${pathUsername} + '/saved-books', null)}"></nav>
                <div th:replace="~{fragments/components/books-section:: books(${viewSavedBooksModel})}"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>