<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="registerRequestDTO" type="com.simple.Bookstore.Auth.RegisterRequestDTO"*/-->

<div class="flex-column" id="main-content" th:fragment="main-content">
    <div class="flex-column" id="register-form-outer-div">
        <!--  block to check for query param -->
        <th:block th:if="${param.error != null}" th:switch="${param.error[0]}">
            <th:block th:case="'need_auth'"
                      th:insert="~{fragments/components/flash-error :: flashError('You must be authenticated to do this action')}"></th:block>
        </th:block>
        <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading('My Account', 1, 33)}"></div>
        <div th:replace="~{fragments/register/register-form :: register-form}"></div>
    </div>
</div>

</body>
</html>
