<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="viewBooksModel" type="com.simple.Bookstore.views.SharedModels.ViewBooksModel"*/-->
<!--/*@thymesVar id="viewThemesModel" type="com.simple.Bookstore.views.SharedModels.ViewThemesModel"*/-->
<!--/*@thymesVar id="viewProfilesModel" type="com.simple.Bookstore.views.SharedModels.ViewProfilesModel"*/-->
<!--/*@thymesVar id="queryString" type="java.lang.String"*/-->
<!--/*@thymesVar id="results" type="org.springframework.data.domain.Page<T>"*/-->

<div class="flex-column" id="main-content" th:fragment="main-content">
    <div th:replace="~{fragments/components/pagination :: pagination(${results}, '/search', ${queryString})}"></div>
    <th:block th:switch="${param.type.getFirst()}">
        <th:block th:case="${T(com.simple.Bookstore.Search.SearchType).BOOK.name()}"
                  th:insert="~{fragments/search/book :: search-results}"></th:block>
        <th:block th:case="${T(com.simple.Bookstore.Search.SearchType).THEME.name()}"
                  th:insert="~{fragments/search/theme :: search-results}"></th:block>
        <th:block th:case="${T(com.simple.Bookstore.Search.SearchType).PROFILE.name()}"
                  th:insert="~{fragments/search/profile :: search-results}"></th:block>
    </th:block>
    <div th:replace="~{fragments/components/pagination :: pagination(${results}, '/search', ${queryString})}"></div>
</div>

</body>
</html>