<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="flex-column" id="main-content" th:fragment="main-content">
    <div id="main-content-div">
        <div th:if="${results.hasContent()}"
             th:replace="~{fragments/search/pagination :: pagination(${results}, ${searchType}, ${queryParam}, ${genresParam}, ${ratingParam})}"></div>
        <th:block th:switch="${searchType}">
            <th:block th:case="${T(com.simple.Bookstore.Search.SearchType).BOOK}">
                <div th:replace="~{fragments/search/book :: search-results}"></div>
            </th:block>
            <th:block th:case="${T(com.simple.Bookstore.Search.SearchType).THEME}">
                <div th:replace="~{fragments/search/theme :: search-results}"></div>
            </th:block>
            <th:block th:case="${T(com.simple.Bookstore.Search.SearchType).PROFILE}">
                TODO
<!--                <div th:replace="~{fragments/search/profile :: search-results}"></div>-->
            </th:block>
        </th:block>
    </div>
</div>

</body>
</html>