<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="results" type="org.springframework.data.domain.Page"*/-->

<div class="flex-column" id="main-content" th:fragment="main-content"
     th:with="queryString=
            'type=' + ${(param.type != null) ? param.type.getFirst() : ''} +
            '&query=' + ${(param.query != null) ? param.query.getFirst() : ''} +
            '&rating=' + ${(param.rating != null) ? param.rating.getFirst() : ''} +
            '&genres=' + ${(param.genres != null)
             ? (#lists.size(param.genres) > 1)
                ? #strings.listJoin(#lists.sort(param.genres), '&genres=')
                : param.genres.getFirst()
             : ''
            }">
    <div th:replace="~{fragments/pagination :: pagination(${results}, '/search', ${queryString})}"></div>
    <th:block th:switch="${param.type.toString()}">
        <th:block th:case="${T(com.simple.Bookstore.Search.SearchType).BOOK.name()}">
            <div th:replace="~{fragments/search/book :: search-results}"></div>
        </th:block>
        <th:block th:case="${T(com.simple.Bookstore.Search.SearchType).THEME.name()}">
            <div th:replace="~{fragments/search/theme :: search-results}"></div>
        </th:block>
        <th:block th:case="${T(com.simple.Bookstore.Search.SearchType).PROFILE.name()}">
            <div th:replace="~{fragments/search/profile :: search-results}"></div>
        </th:block>
    </th:block>
    <div th:replace="~{fragments/pagination :: pagination(${results}, '/search', ${queryString})}"></div>
</div>

</body>
</html>