<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: sidebar-right</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div id="sidebar-right" th:fragment="sidebar-right">
    <div id="login-div" sec:authorize="isAnonymous()">
        <div class="sidebar-right-heading" id="login-form-heading">
            <div th:replace="~{fragments/svg-fragments/heading-surrounded-by-circles :: svgHeading('LOG IN')}"></div>
        </div>
        <div id="login-form">
            <form method="post" th:action="@{/api/v1/auth/login}">
                <div>
                    <label for="username">Username</label><br>
                    <input id="username" name="username" required type="text">
                </div>
                <div>
                    <label for="password">Password</label><br>
                    <input id="password" name="password" required type="password">
                </div>
                <div>
                    <input id="remember-me" name="remember-me" type="checkbox">
                    <label for="remember-me">Remember me</label>
                </div>
                <div>
                    <button type="submit">Log In</button>
                </div>
                <div>
                    <a th:href="@{/forgot-password}">Forgot password?</a><br>
                    <a th:href="@{/register}">Register account</a>
                </div>
            </form>
        </div>
    </div>
    <div id="your-account-div" sec:authorize="isAuthenticated()">
        <strong id="your-account-title">Your Account</strong>
        <form action="#" id="your-account-details" method="post" th:action="@{/api/v1/auth/logout}">
            <p id="your-account-welcome">Welcome <strong th:text="${user.getProfile().getDisplayName()}"></strong></p>
            <a th:href="@{/profile/{username}(username=${user.getUsername()})}">My Account</a>
            <button type="submit">Logout</button>
        </form>
    </div>
    <div class="sidebar-right-div" id="theme-div">
        <div class="sidebar-right-heading" id="theme-heading">
            <div th:replace="~{fragments/svg-fragments/heading-surrounded-by-circles :: svgHeading('THEME')}"></div>
        </div>
        <!-- show used theme with swatch 8 colors -->
        <div class="sidebar-right-content">
            <div class="theme-div">
                <ul class="theme-colors-list">
                    <li class="theme-color" style="background-color: var(--color-00, #A40E60)"></li>
                    <li class="theme-color" style="background-color: var(--color-01, #FF0000)"></li>
                    <li class="theme-color" style="background-color: var(--color-02, #F61590)"></li>
                    <li class="theme-color" style="background-color: var(--color-03, #F88B9E)"></li>
                    <li class="theme-color" style="background-color: var(--color-04, #FFD376)"></li>
                    <li class="theme-color" style="background-color: var(--color-05, #AAFFB1)"></li>
                    <li class="theme-color" style="background-color: var(--color-06, #FFE2E7)"></li>
                    <li class="theme-color" style="background-color: var(--color-07, #FFF2D3)"></li>
                </ul>
                <th:block th:if="${_overrideThemeUsed != null}">
                    <p class="theme-details">
                        <strong th:text="${_overrideThemeUsed.name()}"></strong> by
                        <a th:href="@{/profile/{username}(username=${_overrideThemeUsed.username()})}"
                           th:text="${_overrideThemeUsed.userDisplayName()}"></a>
                    </p>
                </th:block>
                <th:block th:if="${_overrideThemeUsed == null}">
                    <strong>Default Mangagamer Theme</strong>
                </th:block>
            </div>
            <!-- change theme link to change theme page -->
            <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/register?change_theme=true}">Change Theme</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/theme/search}">Change Theme</a>
            </th:block>
        </div>
    </div>
</div>

</body>
</html>