<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: sidebar-left</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div id="sidebar-left" th:fragment="sidebar-left">
    <script th:src="@{/js/sidebar.js}"></script>
    <!-- AUTHOR LIST -->
    <div class="sidebar-left-div">
        <p class="sidebar-left-title">Authors</p>
        <div class="sidebar-left-list" id="authors-list">
            <th:block th:each="author, authorStat: ${authors}">
                <a class="sidebar-left-list-item"
                   th:classappend="${authorStat.index >= 10 ? 'more-item' : ''}"
                   th:href="@{/api/v1/books/search?query={q}(q=${author})}"
                   th:text="${author}"></a>
            </th:block>
            <div th:if="${#lists.size(authors) > 10}">
                <a class="sidebar-left-list-item float-right show-more-link more-less-link"
                   href="javascript:toggleVisibility('authors-list', 'show-more-link', 'show-less-link')">
                    More...
                </a>
                <a class="sidebar-left-list-item float-right show-less-link more-less-link"
                   href="javascript:toggleVisibility('authors-list', 'show-more-link', 'show-less-link')"
                   style="display: none">
                    Less...
                </a>
            </div>
        </div>
    </div>
    <!-- GENRE LIST -->
    <div class="sidebar-left-div">
        <p class="sidebar-left-title">Genres</p>
        <div class="sidebar-left-list" id="genres-list">
            <th:block th:each="genre, genreStat: ${genres}">
                <a class="sidebar-left-list-item"
                   th:classappend="${genreStat.index >= 10 ? 'more-item' : ''}"
                   th:href="@{/api/v1/books/search?genres={q}(q=${genre.name()})}"
                   th:text="${genre.displayName}"></a>
            </th:block>
            <div th:if="${#lists.size(genres) > 10}">
                <a class="sidebar-left-list-item float-right show-more-link more-less-link"
                   href="javascript:toggleVisibility('genres-list', 'show-more-link', 'show-less-link')">
                    More...
                </a>
                <a class="sidebar-left-list-item float-right show-less-link more-less-link"
                   href="javascript:toggleVisibility('genres-list', 'show-more-link', 'show-less-link')"
                   style="display: none">
                    Less...
                </a>
            </div>
        </div>
    </div>
    <!-- LATEST REVIEW -->
    <div class="sidebar-left-div" th:if="${latestReview}">
        <p class="sidebar-left-title">Latest Review</p>
        <div class="sidebar-left-list">
            <a class="sidebar-left-list-item"
               th:href="@{/api/v1/books/{id}(id=${latestReview.bookId()})}"
               th:text="${latestReview.bookTitle()}"></a>
            <div class="flex-row space-between sidebar-left-list-item">
                <p class="rating-score">
                    <b><span th:text="${latestReview.rating()}"></span> / 5</b>
                </p>
                <p th:text="${latestReviewDate}"></p>
            </div>
            <div class="sidebar-left-list-item"
                 th:if="${latestReview.content() != null && !latestReview.content().isEmpty()}">
                <th:block th:if="${latestReview.content().length() > 100}">
                    <p th:text="${#strings.abbreviate(latestReview.content(), 100)}"></p>
                </th:block>
                <th:block th:unless="${latestReview.content().length() > 100}">
                    <p th:text="${latestReview.content()}"></p>
                </th:block>
            </div>
            <div class="sidebar-left-list-item"
                 th:unless="${latestReview.content() != null && !latestReview.content().isEmpty()}">
                <p class="gray-text">No content was provided for this review</p>
            </div>
            <div>
                <p class="float-right">
                    - <span th:text="${latestReview.userDisplayName()}"></span>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>