<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class='flex-column' th:fragment="twoColBookList(bookDtoList, headingTitle)">
    <div class="book-list-content-div">
        <div th:replace="~{fragments/svg-fragments/heading-followed-by-circles :: svgHeading(${headingTitle}, 290, 18, 4.5)}"></div>
        <div class="book-list-content">
            <div class="book-list-item gap-10px" th:each="book : ${bookDtoList}">
                <div class="book-list-item-image">
                    <a th:href="@{/books/{id}(id=${book.id})}">
                        <img th:alt="'book-list-item-image-' + ${book.id}"
                             th:src="${book.frontImage != null ?
                                 book.frontImage : 'https://placehold.co/100x140?text=' +
                                     (#strings.isEmpty(book.title) ?
                                         'Book ' + book.id : book.title + '\n' + book.author
                         )}" />
                    </a>
                </div>
                <div class="list-item-details">
                    <a th:href="@{/books/{id}(id=${book.id})}"
                       th:text="${#strings.isEmpty(book.title) ? 'Book ' + book.id : book.title}"></a>
                    <b class="rating-score" th:if="${book.averageRating != null}">
                        <span th:text="${book.averageRating}"></span> / 5
                    </b>

                    <ul th:data-cutoff="${cutoff}" th:with="cutoff=5">
                        <li th:each="genre, iter : ${#lists.toList(book.genres)}"
                            th:if="${iter.index < cutoff}">
                            <a class="genre-oval" th:classappend="${genre.getStyleClass()}"
                               th:href="@{/search(type='BOOK', genres=${genre})}"
                               th:text="${genre.displayName}"></a>
                        </li>
                        <li class="hidden-genre" th:each="genre, iter : ${#lists.toList(book.genres)}"
                            th:if="${iter.index >= cutoff}">
                            <a class="genre-oval" th:classappend="${genre.getStyleClass()}"
                               th:href="@{/search(type='BOOK', genres=${genre})}"
                               th:text="${genre.displayName}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>