.profile-details {
    display: grid;
    grid-template-columns: 24fr 76fr;
    grid-auto-rows: auto;
    width: 100%;
    grid-gap: 10px;
}

.profile-details label,
.profile-details-label {
    justify-self: end;
}

.profile-details input not .profile-details-checkbox,
.profile-details-value {
    justify-self: stretch;
}

.profile-details-checkbox,
.profile-details select {
    justify-self: start;
}

.profile-details textarea {
    resize: vertical;
}

.required {
    color: red;
}

/* DESCRIPTIVE */
.justify-self-center {
    justify-self: center;
}

.text-center {
    text-align: center;
}

.grid-col-start-1-span-2 {
    grid-column-start: 1;
    grid-column-end: span 2;
}