#register-form-outer-div {
    margin: 10px;
    gap: 2em;
}

#register-form-outer-div text {
    font-size: 33px;
}

#register-form-outer-div .svg-text-heading {
    font-size: 33px;
    padding-left: 10px;
    margin-bottom: -38px;
}

#register-form-div {
    display: flex;
    justify-content: center;
    background-color: var(--color-06, #FFE2E7);
    width: 656px;
    border: 2px solid var(--color-02, #F61590);
    border-top: 7px solid var(--color-02, #F61590);
    border-bottom: 7px solid var(--color-02, #F61590);
    border-radius: 10px;
    padding: 10px;
}

#displayName {
    display: none;
    grid-column-start: 2;
}

.show-hidden-trigger:checked + #displayName {
    display: block;
}