.pagination-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.pagination-title {
    margin: 0;
}

.pagination-list {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0 0 0 5px;
}

.page-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-item .active {
    font-size: 1.25em;
}

.search-result-content-div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    row-gap: 2em;
}

.search-result-content-div svg {
    font-size: 32px;
    padding: 0 0 0 10px;
    margin-bottom: -40px;
}

.search-result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 656px;
    background-color: var(--color-06, #FFE2E7);
    border: 2px solid var(--color-02, #F61590);
    border-top: 7px solid var(--color-02, #F61590);
    border-bottom: 7px solid var(--color-02, #F61590);
    border-radius: 10px;
    padding: 10px;
}

.search-result-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid var(--color-00, #A40E60);
}

.search-result-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    ul {
        height: 100%;
    }
}

.search-result-item-details-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-result-item-title {
    background-color: var(--color-04, #FFD376);
    padding: 0 5px;

    p {
        margin: 0;
    }
}

.list-item-details {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, auto);
    margin-left: 15px;
}

.search-result-desc {
    margin: 0;
}

.search-result-genres {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
}
