@import url("generated-variables.css");

@font-face {
    font-family: 'Cherry Bomb One';
    src: url('/fonts/CherryBombOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

text {
    font-family: 'Cherry Bomb One', system-ui;
    font-size: 1em;
    dominant-baseline: hanging;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-03, #F88B9E);
    height: 100%;
}

.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    padding: 5px 0 0 0;
    margin: 0 0 -8px 10px;
    z-index: 9999;
    color: var(--color-02, #F61590);
    text-shadow:
            -2px -2px 0 var(--color-07, #FFF2D3),
            2px -2px 0 var(--color-07, #FFF2D3),
            -2px  2px 0 var(--color-07, #FFF2D3),
            2px  2px 0 var(--color-07, #FFF2D3), /* inner border */
            -4px -4px 0 var(--color-02, #F61590),
            4px -4px 0 var(--color-02, #F61590),
            -4px  4px 0 var(--color-02, #F61590),
            4px  4px 0 var(--color-02, #F61590); /* outer border */
    overflow: visible;
}


#body-div {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url("/static/img/site-logo.png");
    background-position:center;
    background-repeat:repeat-y;
    height: 100%;
    width: 1030px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-top-right-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main-layout {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

#sidebar-left {
    display: flex;
    flex-direction: column;
    max-width: 135px;
    min-width: 135px;
}

.sidebar-left-div {
    display: flex;
    flex-direction: column;
    background-color: var(--color-02, #F61590);
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.sidebar-left-title {
    margin: auto;
    color: var(--color-06, #FFE2E7);
    padding-bottom: 5px;
    padding-top: 5px;
}

.sidebar-left-list {
    display: flex;
    flex-direction: column;
    background: var(--color-06, #FFE2E7);
    border-color: var(--color-02, #F61590);
    border-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-wrap: break-word;
    padding: 2px;
    max-width: 150px;
}

.sidebar-left-list-item {
    padding-bottom: 5px;
}

.more-less-link {
    cursor: pointer;
    font-style: italic;
}

.more-item {
    display: none;
}

#main-content {
    max-width: 700px;
    min-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sliding-banner {
    overflow: hidden;
}

#sliding-banner-images ul {
    padding: 0;
    margin: 0;
    transition: transform 0.5 ease;
    list-style: none;
}

#sliding-banner-images li {
    overflow: hidden;
    max-width: 700px;
    min-width: 700px;
    max-height: 200px;
    min-height: 200px;
}
#sliding-banner-thumbs {
    margin-top: 5px;
}

#sliding-banner-thumbs ul {
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 5px;
}

#sliding-banner-thumbs li {
    position: relative;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

#sliding-banner-thumbs li img {
    display: block;
}

#sliding-banner-thumbs li.active {
    opacity: 1;
}

#sliding-banner-thumbs li.active::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid aqua;
    pointer-events: none;
}

#main-content-div {
    width: 700px;
    max-width: 700px;
    border: 2px solid var(--color-00, #A40E60);
    background-color: var(--color-07, #FFF2D3);
}

.book-list-content-div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    row-gap: 2em;
}

.book-list-content-div svg {
    font-size: 32px;
    padding: 0 0 0 10px;
    margin-bottom: -40px;
}

#main-content-div .svg-text-heading .text-outline-outer {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-02, #F61590);
    stroke-linejoin: round;
    stroke-width: 8;
}
#main-content-div .svg-text-heading .text-outline-inner {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-07, #FFF2D3);
    stroke-linejoin: round;
    stroke-width: 4;
}
#main-content-div .svg-text-heading .text-fill {
    fill: var(--color-02, #F61590);
}

.book-list-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    background-color: var(--color-06, #FFE2E7);
    width: 676px;
    border: 2px solid var(--color-02, #F61590);
    border-top: 7px solid var(--color-02, #F61590);
    border-bottom: 7px solid var(--color-02, #F61590);
    border-radius: 10px;
}

.book-list-item {
    display: flex;
    flex-direction: row;
    max-width: 325px;
    column-gap: 10px;
}

.book-list-item-details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.book-list-item-details p {
    padding: 0;
    margin: 0;
}

.book-list-item-details ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    max-width: 200px;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.rating-score {
    color: var(--color-01, #FF0000);
}

.genre-oval {
    display: flex;
    height: 40px;
    width: 65px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.70rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    word-break: break-word;
}

.genre-color-style-00 {
    background-color: var(--color-05, #AAFFB1);
    color: var(--genre-text-color-00, #334321);
    text-shadow:
            -0.05rem -0.05rem 0 var(--color-07, #FFF2D3),
             0.05rem -0.05rem 0 var(--color-07, #FFF2D3),
            -0.05rem  0.05rem 0 var(--color-07, #FFF2D3),
             0.05rem  0.05rem 0 var(--color-07, #FFF2D3), /* inner border */
            -0.07rem -0.07rem 0 var(--genre-text-color-00, #334321),
             0.07rem -0.07rem 0 var(--genre-text-color-00, #334321),
            -0.07rem  0.07rem 0 var(--genre-text-color-00, #334321),
             0.07rem  0.07rem 0 var(--genre-text-color-00, #334321); /* outer border */
}

.genre-color-style-01 {
    background-color: var(--color-04, #FFD376);
    color: var(--genre-text-color-01, #356618);
    text-shadow:
            -0.05rem -0.05rem 0 var(--color-07, #FFF2D3),
             0.05rem -0.05rem 0 var(--color-07, #FFF2D3),
            -0.05rem  0.05rem 0 var(--color-07, #FFF2D3),
             0.05rem  0.05rem 0 var(--color-07, #FFF2D3), /* inner border */
            -0.07rem -0.07rem 0 var(--genre-text-color-01, #356618),
             0.07rem -0.07rem 0 var(--genre-text-color-01, #356618),
            -0.07rem  0.07rem 0 var(--genre-text-color-01, #356618),
             0.07rem  0.07rem 0 var(--genre-text-color-01, #356618); /* outer border */
}

.genre-color-style-02 {
    background-color: var(--color-03, #F88B9E);
    color: var(--genre-text-color-02, #237C24);
    text-shadow:
            -0.05rem -0.05rem 0 var(--color-07, #FFF2D3),
             0.05rem -0.05rem 0 var(--color-07, #FFF2D3),
            -0.05rem  0.05rem 0 var(--color-07, #FFF2D3),
             0.05rem  0.05rem 0 var(--color-07, #FFF2D3), /* inner border */
            -0.07rem -0.07rem 0 var(--genre-text-color-02, #237C24),
             0.07rem -0.07rem 0 var(--genre-text-color-02, #237C24),
            -0.07rem  0.07rem 0 var(--genre-text-color-02, #237C24),
             0.07rem  0.07rem 0 var(--genre-text-color-02, #237C24); /* outer border */
}

.hidden-genre {
    display: none !important;
}

#sidebar-right {
    display: flex;
    flex-direction: column;
    max-width: 175px;
    min-width: 175px;
}

#login-form-heading {
    display: flex;
    flex-direction: column;
}

#login-form-heading svg {
    font-size: 26px;
    padding: 0 0 0 43px;
}

#login-form-heading circle {
    fill: var(--color-07, #FFF2D3);
}

#login-form-heading .circle-outline {
    fill: var(--color-02, #F61590);
}

#login-form-heading .svg-text-heading .text-outline-outer {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-02, #F61590);
    stroke-linejoin: round;
    stroke-width: 12;
}
#login-form-heading .svg-text-heading .text-outline-middle {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-07, #FFF2D3);
    stroke-linejoin: round;
    stroke-width: 8;
}
#login-form-heading .svg-text-heading .text-outline-inner {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-02, #F61590);
    stroke-linejoin: round;
    stroke-width: 4;
}
#login-form-heading .svg-text-heading .text-fill {
    fill: var(--color-07, #FFF2D3);
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--color-06, #FFE2E7);
    border: 2px solid var(--color-02, #F61590);
    border-radius: 5px;
    padding: 10px;
    margin-top: -5px;
}

#login-form input {
    max-width: 140px;
    margin-bottom: 10px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#gh-logo {
    padding-left: 7px;
}

/* DESCRIPTIVE */
.float-right {
    float: right;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}
.gray-text {
    color: gray;
}
