@font-face {
    font-family: 'Cherry Bomb One';
    src: url('/fonts/CherryBombOne/CherryBombOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

text {
    font-family: 'Cherry Bomb One', system-ui;
    font-size: 1em;
    dominant-baseline: hanging;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-03, #F88B9E);
    height: 100%;
    color: var(--font-color, black);

    a {
        color: var(--link-color, blue);
    }
}

#body-div {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url("/static/img/site-logo.png");
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
    width: 1030px;
    box-shadow: 0 0 15px black;
}

#header {
    display: grid;
    grid-template-columns: 55% 45%;
    justify-content: space-between;
    height: 160px;
    overflow: hidden;
    position: relative;
}

#halftone-bg {
    position: absolute;
    z-index: -9999;
    margin: -60px -10px;
}

#header-left-div {
    display: grid;
    grid-template-rows: 20% 40% 20% 20%;
}

#header-slogan {
    margin-top: 0;
    margin-left: 10px;
    color: var(--color-06, #FFE2E7);
    font-size: 16px;

    .text-outline-inner {
        fill: none;
        paint-order: stroke;
        stroke: var(--color-02, #F61590);
        stroke-linejoin: round;
        stroke-width: 6;
    }

    .text-fill {
        fill: var(--color-06, #FFE2E7);
    }
}

#header-logo-div {
    text-align: center;
    font-size: 60px;
    margin: -5px 0 -10px 0;
}

.letter-oval {
    fill: var(--color-06, #FFE2E7);
    stroke: var(--color-02, #F61590);
    stroke-width: 2px;
    opacity: 1;
}

.logo-letter-outline {
    stroke: black;
    stroke-width: 5px;
    fill: none;
}

#logo-letter-0 {
    fill: var(--color-00, #A40E60);
}

#logo-letter-1 {
    fill: var(--color-01, #FF0000);
}

#logo-letter-2 {
    fill: var(--color-02, #F61590);
}

#logo-letter-3 {
    fill: var(--color-03, #F88B9E);
}

#logo-letter-4 {
    fill: var(--color-04, #FFD376);
}

#logo-letter-5 {
    fill: var(--color-03, #F88B9E);
}

#logo-letter-6 {
    fill: var(--color-02, #F61590);
}

#logo-letter-7 {
    fill: var(--color-01, #FF0000);
}

#logo-letter-8 {
    fill: var(--color-00, #A40E60);
}

#header-logo-link-div {
    justify-self: center;
}

#header-logo-link {
    font-size: 20px;
    text-align: center;

    .text-underline-outline {
        stroke: var(--color-02, #F61590);
        stroke-width: 8;
    }

    .text-underline {
        stroke: var(--color-03, #F88B9E);
        stroke-width: 4;
    }

    .text-outline {
        fill: none;
        paint-order: stroke;
        stroke: var(--color-06, #FFE2E7);
        stroke-linejoin: round;
        stroke-width: 4;
    }

    .text-fill {
        fill: var(--color-02, #F61590);
    }
}

#header-navbar {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-around;
    gap: 0;
    width: 60%;
    height: 26px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: var(--color-07, #FFF2D3);
    border: 2px solid var(--color-02, #F61590);
    border-radius: 15px;
}

#header-navbar li {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 16px;
    padding: 0 10px;

    .text-outline-outer {
        fill: none;
        paint-order: stroke;
        stroke: var(--color-02, #F61590);
        stroke-linejoin: round;
        stroke-width: 8;
    }

    .text-outline-inner {
        fill: none;
        paint-order: stroke;
        stroke: var(--color-06, #FFE2E7);
        stroke-linejoin: round;
        stroke-width: 4;
    }

    .text-fill {
        fill: var(--color-02, #F61590);
    }
}

#header-navbar li:hover {
    background-color: var(--color-04, #FFD376);
}

#header-right-div {
    display: grid;
    grid-template-rows: 15% 45% 20% 10%;
}

#header-top-right-div {
    align-self: end;
    justify-self: end;
}

.header-top-right-button {
    font-size: 16px;
    background-color: var(--color-02, #F61590);
    border: 1px solid var(--color-06, #FFE2E7);
    color: var(--color-06, #FFE2E7);
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    box-shadow: inset 1px 1px 4px var(--color-06, #FFE2E7);
}

#header-bottom-right-div {
    align-self: end;
    grid-row: 3;
}

#header-support {
    padding-left: 25px;
    border-bottom-left-radius: 50px;
}

#header-about-us {
    border-bottom-right-radius: 15px;
}

#search-input {
    width: 65%;
}

#search-button {
    font-size: 13px;
    text-align: center;

    .text-outline-inner {
        fill: none;
        paint-order: stroke;
        stroke: var(--color-02, #F61590);
        stroke-linejoin: round;
        stroke-width: 3;
    }

    .text-fill {
        fill: var(--color-06, #FFE2E7);
    }
}

#main-layout {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    border-top: 2px solid var(--color-04, #FFD376);
}

#sidebar-left {
    display: flex;
    flex-direction: column;
    max-width: 119px;
    min-width: 119px;
    padding: 0 4px 0 12px;
    margin-right: 10px;
}

.sidebar-left-div {
    display: flex;
    flex-direction: column;
    background-color: var(--color-02, #F61590);
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.sidebar-left-title {
    margin: auto;
    color: var(--color-06, #FFE2E7);
    padding-bottom: 5px;
    padding-top: 5px;
}

.sidebar-left-list {
    display: flex;
    flex-direction: column;
    background: var(--color-06, #FFE2E7);
    border-color: var(--color-02, #F61590);
    border-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-wrap: break-word;
    padding: 2px;
    max-width: 150px;
}

.sidebar-left-list-item {
    padding-bottom: 5px;
}

.more-item {
    display: none;
}

#sidebar-left .rating-star {
    font-size: 16px;
}

#sidebar-right {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 160px;
    min-width: 160px;
    padding: 0 12px 0 3px;
    margin-left: 10px;
}

.sidebar-right-heading {
    display: flex;
    flex-direction: column;
}

#login-form-heading, #theme-heading {
    font-size: 19px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-right-heading circle {
    fill: var(--color-06, #FFE2E7);
}

.sidebar-right-heading .circle-outline {
    fill: var(--color-02, #F61590);
}

.sidebar-right-heading .svg-text-heading .text-outline-outer {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-02, #F61590);
    stroke-linejoin: round;
    stroke-width: 12;
}

.sidebar-right-heading .svg-text-heading .text-outline-middle {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-06, #FFE2E7);
    stroke-linejoin: round;
    stroke-width: 8;
}

.sidebar-right-heading .svg-text-heading .text-outline-inner {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-02, #F61590);
    stroke-linejoin: round;
    stroke-width: 4;
}

.sidebar-right-heading .svg-text-heading .text-fill {
    fill: var(--color-06, #FFE2E7);
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--color-06, #FFE2E7);
    border: 2px solid var(--color-02, #F61590);
    border-radius: 5px;
    padding: 10px;
    margin-top: -5px;
}

#login-form input {
    max-width: 140px;
    margin-bottom: 10px;
}

.profile-details-error {
    color: red;
    grid-column-start: 1;
    grid-column-end: span 2;
    text-align: center;
}

.sidebar-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--color-06, #FFE2E7);
    border: 2px solid var(--color-02, #F61590);
    border-radius: 5px;
    padding: 10px;
    margin-top: -5px;
}

#your-account-div {
    display: flex;
    flex-direction: column;
    background-color: var(--color-02, #F61590);
    border-radius: 5px;
    margin: 0 0 10px 0;
}

#your-account-title {
    margin: auto;
    color: var(--color-06, #FFE2E7);
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.5em;
    text-align: center;
}

#your-account-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-06, #FFE2E7);
    border: 2px solid var(--color-02, #F61590);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
}

#your-account-welcome {
    margin: 0;
    word-wrap: anywhere;
    text-align: center;
}

.theme-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.theme-colors-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    list-style: none;
}

.theme-color {
    flex: 1 1 calc(12.5% - 10px);
    aspect-ratio: 1;
    width: 17px;
}

.theme-color:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.theme-color:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-details {
    margin: 0;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#gh-logo {
    padding-left: 7px;
}

/* DESCRIPTIVE */
.float-right {
    float: right;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.gray-text {
    color: gray;
}

.margin-0 {
    margin: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.italic {
    font-style: italic;
}