#main-content {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-columns: 227px 1fr;
    grid-template-areas:
        'header header'
        'preview details'
        'render render';
    min-width: 680px; /* override */
    padding: 10px;
    row-gap: 20px;
    column-gap: 10px;
}

#main-content > .svg-text-heading-div {
    grid-area: header;
    height: fit-content;
}

#main-content > .svg-text-heading-div .svg-text-heading {
    font-size: 33px;
}

#main-content > ul {
    grid-area: preview;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    list-style: none;
    place-items: center;
}

#main-content > ul li {
    width: 26px;
    min-height: 17px;
    height: 100%;
    aspect-ratio: 1;
}

#main-content > ul li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#main-content > ul li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#theme-details {
    grid-area: details;

    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 3fr;
}

#theme-details {
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-06, #FFE2E7);
}

#theme-details h2 {
    grid-column-end: span 2;
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: normal;
    color: var(--color-01, #FF0000);
}

.theme-details-label {
    margin-left: 15px;
}

.theme-details-value {
    margin: 0;
    justify-self: stretch;
}
