#main-content {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-columns: 227px 1fr;
    grid-template-areas:
        'header header'
        'preview details'
        'render render';
    min-width: 680px; /* override */
    padding: 10px;
    row-gap: 20px;
    column-gap: 10px;
}

#main-content > .svg-text-heading-div {
    grid-area: header;
    height: fit-content;
}

#main-content > .svg-text-heading-div .svg-text-heading {
    font-size: 33px;
}

#main-content > ul {
    grid-area: preview;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    list-style: none;
    place-items: center;
}

#main-content > ul li {
    width: 26px;
    min-height: 17px;
    height: 100%;
    aspect-ratio: 1;
}

#main-content > ul li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#main-content > ul li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#theme-details {
    grid-area: details;

    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 3fr;
}

#theme-details {
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-06, #FFE2E7);
}

#theme-details h2 {
    grid-column-end: span 2;
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: normal;
    color: var(--color-01, #FF0000);
}

.theme-details-label {
    margin-left: 15px;
}

.theme-details-value {
    margin: 0;
    justify-self: stretch;
}

#theme-preview-render {
    grid-area: render;
    z-index: 0;
    color: var(--font-color, black);

    a {
        color: var(--link-color, blue);
    }
}

#theme-preview-render #header-navbar {
    width: 80%;
}

#theme-preview-render #sidebar-left {
    max-width: 75px;
    min-width: 75px;
}

#main-content-preview {
    width: 422px;
    padding: 10px;
    border: 2px solid var(--color-00, #A40E60);
    background-color: var(--color-07, #FFF2D3);
}

#theme-preview-render #main-content-preview .svg-text-heading {
    font-size: 33px;
    margin: 0 0 -18px 10px;
}

#theme-preview-render #main-content-preview #blur-strikethrough .svg-text-heading {
    margin: 0;
}

.enclosed-content-preview,
.enclosed-search-content-preview {
    background-color: var(--color-06, #FFE2E7);
    border: 2px solid var(--color-02, #F61590);
    border-top: 7px solid var(--color-02, #F61590);
    border-bottom: 7px solid var(--color-02, #F61590);
    border-radius: 10px;
}

.enclosed-content-preview {
    padding: 10px;
}

.enclosed-search-content-preview {
    padding: 10px 0;
}

.search-content-preview {
    border: 2px solid var(--color-00, #A40E60);
}

.book-search-entry-title {
    padding-left: 5px;
    background-color: var(--color-04, #FFD376);
}

.enclosed-search-content-preview .rating-score,
.enclosed-search-content-preview ul {
    padding-left: 15px;
}

#theme-preview-render #blur-strikethrough .svg-text-heading,
#theme-preview-header .svg-text-heading {
    font-size: 24px;
    text-align: center;
}

#theme-preview-header .svg-text-heading .text-underline-outline,
#blur-strikethrough .svg-text-heading .text-underline-outline {
    stroke: var(--color-02, #F61590);
    stroke-width: 8;
    filter: blur(2px);
}

#theme-preview-header .svg-text-heading .text-underline,
#blur-strikethrough .svg-text-heading .text-underline {
    stroke: var(--color-02, #F61590);
    stroke-width: 4;
    filter: blur(1px);
}

#theme-preview-header .svg-text-heading .text-outline,
#blur-strikethrough .svg-text-heading .text-outline {
    fill: none;
    paint-order: stroke;
    stroke: var(--color-06, #FFE2E7);
    stroke-linejoin: round;
    stroke-width: 4;
}

#theme-preview-header .svg-text-heading .text-fill,
#blur-strikethrough .svg-text-heading .text-fill {
    fill: var(--color-02, #F61590);
}

#theme-preview-render #sidebar-right {
    max-width: 125px;
    min-width: 125px;
}

#theme-preview-render .theme-color {
    width: 13px;
}
