<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="viewBooksModel" type="com.simple.Bookstore.views.SharedModels.ViewBooksModel"*/-->

<div class="search-result-content-div" th:fragment="search-results">
    <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading('Search:Book', 1, 33)}"></div>
    <div class="search-result-content flex-column">
        <div th:replace="~{fragments/components/books-section:: books(${viewBooksModel})}"></div>
    </div>
</div>

</body>
</html>