<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="results" type="org.springframework.data.domain.Page<com.simple.Bookstore.Book.BookSearchResultDTO>"*/-->

<div class="search-result-content-div" th:fragment="search-results">
    <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading('Search:Book', 1, 33)}"></div>
    <div class="search-result-content flex-column">
        <th:block th:if="${!results.hasContent()}">No results found...</th:block>
        <div class="search-result-item w-100P" th:each="book, i : ${results}">
            <div class="search-result-item-image">
                <a th:href="@{/books/{id}(id=${book.id})}">
                    <img th:alt="'search-result-item-image-' + ${book.id}"
                         th:src="${book.frontImage != null ?
                                     book.frontImage : 'https://placehold.co/100x140?text=' +
                                         (#strings.isEmpty(book.title) ?
                                             'Book ' + book.id : book.title + '\n' + book.author
                     )}" />
                </a>
            </div>
            <div class="search-result-item-details-div w-100P">
                <div class="search-result-item-title">
                    <a th:href="@{/books/{id}(id=${book.id})}"
                       th:text="${#strings.isEmpty(book.title) ? 'Book ' + book.id : book.title}"></a>
                </div>
                <div class="list-item-details">
                    <strong th:if="${book.averageRating != null}">Rating: </strong>
                    <b class="rating-score" th:if="${book.averageRating != null}">
                        <span th:text="${book.averageRating}"></span> / 5
                    </b>
                    <strong>Description: </strong>
                    <p class="search-result-desc" th:text="${book.description}"></p>
                    <strong>Genre/s: </strong>
                    <ul th:replace="~{fragments/components/genre-list :: genreList(${book.genres}, 5)}"></ul>
                </div>
            </div>
        </div>
        <script th:src="@{/js/genre-expand.js}"></script>
    </div>
</div>

</body>
</html>