<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<nav class="pagination-nav" th:fragment="pagination(page)">
    <p class="pagination-title">Page: </p>
    <ul class="pagination-list">
<!--        <li class="page-item" th:if="${!page.first}">-->
<!--            <a class="page-link"-->
<!--               tabindex="-1"-->
<!--               th:href="@{/search(type=${param.type}, query=${param.query}, genres=${param.genres}, rating=${param.rating}, page=${i})}">-->
<!--                Previous-->
<!--            </a>-->
<!--        </li>-->

        <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
            <!-- to prevent negative indices when there are 0 pages -->
            <li class="page-item" th:if="${i >= 0}">
                <th:block th:if="${i == page.number}">
                    <strong class="active" th:text="${i + 1}"></strong>
                </th:block>
                <th:block th:if="${i != page.number}">
                    <a class="page-link"
                       th:href="@{/search(type=${param.type}, query=${param.query}, genres=${param.genres}, rating=${param.rating}, page=${i})}">
                        <span th:text="${i + 1}"></span>
                    </a>
                </th:block>
            </li>
        </th:block>

<!--        <li class="page-item" th:if="${!page.last}">-->
<!--            <a class="page-link"-->
<!--               th:href="@{/search(type=${param.type}, query=${param.query}, genres=${param.genres}, rating=${param.rating}, page=${page.number + 1})}">-->
<!--                Next-->
<!--            </a>-->
<!--            </th:block>-->
<!--        </li>-->
    </ul>
</nav>

</body>
</html>