<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="viewProfilesModel" type="com.simple.Bookstore.views.SharedModels.ViewProfilesModel"*/-->
<!--/*@thymesVar id="queryString" type="java.lang.String"*/-->
<!--/*@thymesVar id="results" type="org.springframework.data.domain.Page<T>"*/-->

<div class="search-result-content-div" th:fragment="search-results">
    <div th:replace="~{fragments/svg-fragments/heading-plain :: svgHeading('Search:Profile', 1, 33)}"></div>
    <div class="search-result-content flex-row center-content">
        <th:block th:if="${!results.hasContent()}">No results found...</th:block>
        <div class="search-result-item w-47-86" th:each="profile, i : ${results}">
            <div class="search-result-item-details-div w-100P">
                <div class="search-result-item-title">
                    <p>
                        <a th:href="@{/profile/{username}(username=${profile.username})}"
                           th:text="${profile.username}"></a>
                    </p>
                </div>
                <div class="flex-row center-content">
                    <p class="search-result-desc fs-2em" th:text="${profile.displayName}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>