#old-password-hint {
    grid-column-start: 2;
}

#change-password {
    display: none;
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.show-hidden-trigger:checked + #change-password {
    display: grid;
}
