.profile-details {
    border: 2px solid var(--color-00, #A40E60);
    padding: 10px;
    width: unset;
}

#profile-details-account-buttons {
    grid-column-start: 2;
    justify-content: end;
}

.profile-themes-div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    row-gap: 2em;

    text {
        font-size: 33px;
    }
}

.profile-themes {
    flex-wrap: wrap;
    gap: 20px;
}

.profile-content-header {
    justify-content: space-between;
}

.profile-content-header-title {
    align-self: center;
    font-size: 26px;
    font-weight: bolder;
    border-radius: 15px;
    padding: 5px 20px;
    margin: 0;
    background-color: var(--color-02, #F61590);
    color: var(--color-06, #FFE2E7);
}

.profile-content-header-sub-title {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 15px;
    padding: 5px 50px;
    margin: 0;
    background-color: var(--color-02, #F61590);
    color: var(--color-06, #FFE2E7);
    box-shadow: inset 2px 2px 5px var(--color-06, #FFE2E7);
}

.profile-theme {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--color-00, #A40E60);
}

.profile-theme-colors {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        height: calc(100% - 20px);
    }
}

.profile-theme-details-div {
    display: flex;
    flex-direction: column;
}

.profile-theme-title {
    background-color: var(--color-04, #FFD376);
    padding: 0 5px;

    p {
        margin: 0;
    }
}

.profile-theme-details {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, auto);
    margin-left: 15px;
}

.profile-theme-desc {
    margin: 0;
    word-wrap: anywhere;
}

/* DESCRIPTIVE */
.w-100 {
    width: 100%;
}
