.theme-item {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 2fr 7fr;
    grid-template-areas:
            'preview header header'
            'preview body body'
            'preview body body';
    border: 2px solid var(--color-00, #A40E60);
}

.theme-item ul {
    grid-area: preview;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    list-style: none;
    place-items: center;
}

.theme-item ul li {
    width: 17px;
    min-height: 17px;
    height: 100%;
    aspect-ratio: 1;
}

.theme-item ul li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.theme-item ul li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.theme-title {
    grid-area: header;
    background-color: var(--color-04, #FFD376);
    margin: 0;
    padding: 0 5px;
}

.theme-details-label {
    grid-column: 2 / 3;
    margin-left: 15px;
}

.theme-details-value {
    margin: 0;
    grid-column: 3 / 4;
    justify-self: stretch;
}
