<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="user" type="com.simple.Bookstore.User.User"*/-->
<!--/*@thymesVar id="pathUsername" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewModel" type="com.simple.Bookstore.views.Profile.ProfileViewModel"*/-->

<div class="flex-column gap-10px" th:fragment="details">
    <div class="gap-10px profile-details" id="profile-details">
        <p class="profile-details-label">Username: </p>
        <p class="profile-details-value" th:text="${viewModel.profile().username()}"></p>

        <p class="profile-details-label">Display Name: </p>
        <p class="profile-details-value" th:text="${viewModel.profile().displayName()}"></p>

        <div class="flex-row gap-10px" id="profile-details-account-buttons"
             th:if="${user != null && user.username.equals(viewModel.profile().username)}">
            <form th:action="@{/profile/{username}/edit(username=${pathUsername})}">
                <button type="submit">Modify</button>
            </form>
            <form th:action="@{/profile/{username}/delete(username=${pathUsername})}">
                <button type="submit">Delete Account</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>