<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="userDeleteRequestDTO" type="com.simple.Bookstore.User.UserDeleteRequestDTO"*/-->

<div class="flex-column gap-10px" th:fragment="details">
    <form class="gap-10px profile-details" method="post"
          th:action="@{/profile/me/delete}"
          th:object="${userDeleteRequestDTO}">
        <p class="grid-col-start-1-span-2 justify-self-center text-center">
            If you wish to delete your account, please enter your password below.
        </p>

        <label th:for="${#ids.next('password')}" title="required">Password<span class="required">*</span>:</label>
        <input th:field="*{password}"
               title="Input password to delete account."
               type="password">
        <span class="profile-details-error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>

        <button class="grid-col-start-1-span-2 justify-self-center" type="submit">
            Delete my Account
        </button>
    </form>
</div>

</body>
</html>