<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="user" type="com.simple.Bookstore.User.User"*/-->
<!--/*@thymesVar id="profileEditRequestDTO" type="com.simple.Bookstore.Profile.ProfileEditRequestDTO"*/-->

<div class="flex-column gap-10px" th:fragment="details">
    <form class="gap-10px profile-details" method="post"
          th:action="@{/profile/me/edit}"
          th:object="${profileEditRequestDTO}">
        <label for="username" title="required">Username<span class="required">*</span>:</label>
        <input maxlength="20" minlength="3" pattern="^[a-zA-Z0-9_.-]*$"
               required th:field="*{username}"
               title="Between 3 to 20 alphanumeric characters (including _ . -)"
               type="text">
        <span class="error-message" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></span>

        <label for="show-change-password" title="Check to change password">Change Password?</label>
        <input class="profile-details-checkbox" id="show-change-password"
               name="change-password" type="checkbox">
        <div class="gap-10px profile-details" id="change-password">
            <label for="newPassword" title="required">New Password<span class="required">*</span>:</label>
            <input pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#&()–[{}]:;',?/*~$^+=<>]).{8,30}$"
                   th:field="*{newPassword}"
                   title="Password must be between 8 and 30 characters, and must contain at least one digit, one lowercase letter, one uppercase letter, and one special character"
                   type="password">
            <span class="error-message" th:errors="*{newPassword}" th:if="${#fields.hasErrors('newPassword')}"></span>

            <label for="confirmNewPassword" title="required">(again)<span class="required">*</span>:</label>
            <input pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#&()–[{}]:;',?/*~$^+=<>]).{8,30}$"
                   th:field="*{confirmNewPassword}"
                   title="Confirm Password"
                   type="password">
        </div>
        <span class="error-message" th:errors="*{confirmNewPassword}" th:if="${#fields.hasErrors('confirmNewPassword')}"></span>

        <label for="isPublic"
               title="Make your profile public and searchable by others">Public Profile:</label>
        <input class="profile-details-checkbox"
               th:field="*{isPublic}"
               type="checkbox">

        <label for="displayName" title="">Display Name:</label>
        <input maxlength="50" minlength="1"
               th:field="*{displayName}"
               type="text">
        <span class="error-message" th:errors="*{displayName()}" th:if="${#fields.hasErrors('displayName')}"></span>

        <label for="oldPassword" title="required">Old password<span class="required">*</span>:</label>
        <input pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#&()–[{}]:;',?/*~$^+=<>]).{8,30}$"
               required th:field="*{oldPassword}"
               title="Old Password" type="password">
        <span class="error-message" th:errors="*{oldPassword}" th:if="${#fields.hasErrors('oldPassword')}"></span>

        <i id="old-password-hint">Please input the current password to change these data</i>

        <button class="profile-details-submit-button" type="submit">Modify</button>
    </form>
</div>

</body>
</html>