<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore Fragment: main-content</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="user" type="com.simple.Bookstore.User.User"*/-->
<!--/*@thymesVar id="pathUsername" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewType" type="com.simple.Bookstore.views.Profile.ProfileViewType"*/-->
<!--/*@thymesVar id="viewModel" type="com.simple.Bookstore.views.Profile.ProfileViewModel"*/-->
<!--/*@thymesVar id="viewThemesModel" type="com.simple.Bookstore.views.SharedModels.ViewThemesModel"*/-->
<!--/*@thymesVar id="viewReviewsModel" type="com.simple.Bookstore.views.Profile.ProfileViewReviewsModel"*/-->
<!--/*@thymesVar id="viewCommentsModel" type="com.simple.Bookstore.views.Profile.ProfileViewCommentsModel"*/-->

<div class="profile-result-div flex-column" th:fragment="comments"
     th:with="view=${T(com.simple.Bookstore.views.Profile.ProfileViewType).COMMENTS.name}">
    <div class="flex-row space-between">
        <div th:replace="~{fragments/profile/profile-view-dropdown :: view-dropdown}"></div>
        <div th:replace="~{fragments/components/pagination :: pagination(
            ${viewCommentsModel.profileComments},
            '/profile/' + ${pathUsername} + '?view=' + ${view},
            null
        )}"></div>
    </div>
    <th:block th:if="${!viewCommentsModel.profileComments.hasContent()}">No results found...</th:block>
    <div class="profile-result flex-row w-100P" th:each="comment, i : ${viewCommentsModel.profileComments}">
        <div class="profile-result-content flex-column">
            <div class="profile-result-content-title flex-row space-between gap-10px">
                <p class="margin-0">
                    <a th:href="@{|/books/${comment.bookId}/reviews/${comment.reviewId}?page=${comment.pageNumber}#comment-${comment.id}|}"
                       th:text="'RE: ' + ${comment.reviewTitle}"></a>
                    by
                    <a th:href="@{/profile/{username}(username=${comment.reviewerUsername})}"
                       th:text="${comment.reviewerDisplayName}"></a>
                </p>
                <p class="margin-0" th:title="${comment.date}">
                    Posted
                    <span th:text="${T(com.simple.Bookstore.utils.PostedDateFormatter)
                                     .formatTimeAgo(comment.date, comment.edited)}"></span>
                </p>
            </div>
            <div class="flex-column space-between pad-0-15px">
                <p class="margin-0" th:text="${comment.content}"></p>
                <p class="margin-0 text-end">
                    - <a th:href="@{/profile/{username}(username=${comment.username})}"
                         th:text="${comment.userDisplayName}"></a>
                </p>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/components/pagination :: pagination(
        ${viewCommentsModel.profileComments},
        '/profile/' + ${pathUsername} + '?view=' + ${view},
        null
    )}"></div>
</div>

</body>
</html>
